/******************************************************************************
 * Scalable and Modular Architecture for CSS
 *
 * This is a demo project utilizing the smacss ideology. You can find out more
 *  about smacss by visiting: https://smacss.com/
 *
 * There are five types of categories:
 *  1. Base
 *  2. Layout
 *  3. Module
 *  4. State
 *  5. Theme
 *****************************************************************************/
/******************************************************************************
 * Globals
 *****************************************************************************/
/******************************************************************************
 * Base
 *
 * Base rules are the defaults. They are almost exclusively single element
 *  selectors but it could include attribute selectors, pseudo-class selectors,
 *  child selectors. Essentially, a base style says that wherever this element
 *  is on the page, it should look like this.
 *
 * Examples of Base Styles:
 *  html, body, form { margin: 0; padding: 0; }
 *  input[type=text] { border: 1px solid #999; }
 *  a { color: #039; }
 *  a:hover { color: #03C; }
 *****************************************************************************/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif; }

input {
  height: 40px;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #e0e0e0;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
  padding: 1em;
  font-size: 1em; }
  input:focus {
    border-color: #bdbdbd;
    outline: none; }

.title {
  font-family: "Lato", sans-serif; }

/******************************************************************************
 * Layout
 *
 * Layout rules divide the page into sections. Layouts hold one or more
 *  modules together.
 *
 * These rules are prefixed with lyt- for clarity.
 *****************************************************************************/
/******************************************************************************
 * Module
 *
 * Modules are the reusable, modular parts of our design. They are the
 *  callouts, the sidebar sections, the products lists and so on.
 *****************************************************************************/
nav {
  background: #52e875;
  height: 50px; }
  nav img#logo {
    margin: 10px;
    width: 30px;
    float: left; }
  nav img#hamburger {
    width: 50px;
    float: right; }
    nav img#hamburger:hover {
      cursor: pointer; }

.content {
  padding: 1em; }
